<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let article of articles">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" [src]="article.imageUrl" alt="Article image">
        <div class="card-body">
          <h5 class="card-title">{{ article.name }}</h5>
          <p class="card-text">Price: {{ article.price }} DT</p>
          <p class="card-text">Size: {{ article.size }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/edit-article', article._id]">
                <i class="fas fa-edit"></i> Edit
              </button>
              <button class="btn btn-sm btn-outline-danger" (click)="deleteArticle(article._id)">
                <i class="fas fa-trash-alt"></i> Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
