<div class="container mt-5">
  <!-- <h1>Welcome to our E-commerce site</h1> -->
  <div class="cover-photo">
    <img src="https://img.freepik.com/vecteurs-libre/couverture-facebook-du-centre-commercial-design-plat_23-2149325216.jpg?w=1380&t=st=1717101464~exp=1717102064~hmac=738adaf047f20eb2a42a6eb95414cb94ec536fb76c5dbe5ca0f6bd2c4f1de083" alt="Cover Photo" class="img-fluid">
  </div>
  <div class="description mt-4">
    <p>This is a site for buying and selling clothes. Check out our latest collection below!</p>
  </div>
  <hr>
  <app-article-list></app-article-list>
</div>
